.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background: none;
    border-radius: .3rem;
    text-align: center;
  }

  .sectionLight {
      background-color: #eceeef;
      padding: 2em;
  }

  .sectionDark {
      background-color: #cccccc;
      padding: 2rem;

  }

  .coolStuffWrapper {
      margin-top: 20px;
  }

  button.coolStuffBtn {
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
  }